/*-------------------------------------------------------Ticket mejora - TAGS visibilidad-------------------------------------------*/


.btn-primary.disabled {
    border-radius: 0px;
    background-color: #ffd000;
}

.btn-primary, .btn-primary.disabled {
   color: #145c27;
}

body:not(.isTablet) #indice .units ul li:not(.disabled) a:hover .title, 
body:not(.isTablet) #indice .units ul li.active:not(.disabled) a .title {
    color: #00AC81 !important;
    font-size: 1.8rem;
}

#indice .units ul li.active:not(.disabled), 
body:not(.isTablet) #indice .units ul li:hover:not(.disabled), 
#indice .units ul li:focus:not(.disabled) {
    background: #fff7d2 !important;
    border: 2.5px dotted #dcb60f;
}


/*--------------CONTENIDO EXTRA---------------------*/

#list-units .unittag_albaygael_contenidoextra {
    border: 3px solid #ffd000;
    background: #f0cc17 !important;
}

#list-units .unittag_albaygael_contenidoextra a .title {
    color: #145C27 !important;
}

/*--------------------LIBRO 1-------------------------*/
/*---------------SB--------------*/

#list-units .unittag_albaygael_sb {
   background: #009f74 !important;
}

#list-units .unittag_albaygael_sb a .title {
    color: #fff !important;
}

/*-------------WB----------------*/
#list-units .unittag_albaygael_wb {
    background: #fff !important;
    border: 2.5px dotted #00AC81;
}

#list-units .unittag_albaygael_wb a .title {
    color: #00AC81 !important;
}

/*--------------------LIBRO 2-------------------------*/
/*---------------SB--------------*/

#list-units .unittag_albaygael_sb_nivel2 {
   background: #C4145F !important;
}

#list-units .unittag_albaygael_sb_nivel2 a .title {
    color: #fff !important;
}

/*-------------WB----------------*/
#list-units .unittag_albaygael_wb_nivel2 {
    background: #fff !important;
    border: 2.5px dotted #C4145F;
}

#list-units .unittag_albaygael_wb_nivel2 a .title {
    color: #C4145F !important;
}

/*--------------------LIBRO 3-------------------------*/
/*---------------SB--------------*/

#list-units .unittag_albaygael_sb_nivel3 {
   background: #0097A3 !important;
}

#list-units .unittag_albaygael_sb_nivel3 a .title {
    color: #fff !important;
}

/*-------------WB----------------*/
#list-units .unittag_albaygael_wb_nivel3 {
    background: #fff !important;
    border: 2.5px dotted #0097a3;
}

#list-units .unittag_albaygael_wb_nivel3 a .title {
    color: #0097a3 !important;
}
